page-login {
    h4 {
        font-weight: 400;
    }
    .tuy-icon-logo-icon {
        font-size: 2.5rem;
    }
    .has-error {
        color: color($colors, danger);
    }
    .item [item-right] {
        font-size: 2.4rem;
        margin: 0 8px;
    }
}
