<ion-header>
  <ion-toolbar>
    <ion-title>Himnarios</ion-title>
    <ion-buttons>
      <button ion-button (click)="dismiss()" color="dark">
        <span showWhen="ios">Cancelar</span>
        <ion-icon name="arrow-back" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item item-left *ngFor="let hymnal of hymnalList" (click)="dismiss(hymnal)">
      <h2>{{ hymnal.get('acronym') }} <ion-icon *ngIf="hymnal.get('audio')" name="volume-up"></ion-icon></h2>
      <h3>{{ hymnal.get('title') }}</h3>
    </ion-item>
  </ion-list>
</ion-content>
