<ion-header>
  <ion-toolbar color="light">
    <ion-segment color="dark">
      <ion-segment-button value="hymn" [ngSwitch]="!!readerHymn" (ionSelect)="presentHymnList()">
        <div *ngSwitchCase="!!readerHymn.title">{{ readerHymn.title }}</div>
        <div *ngSwitchDefault>---</div>
      </ion-segment-button>
      <ion-segment-button value="hymnal" [ngSwitch]="!!readerHymnal" (ionSelect)="presentHymnalList()">
        <div *ngSwitchCase="!!readerHymnal.title">{{ readerHymnal.acronym }}</div>
        <div *ngSwitchDefault>---</div>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <hymnal-sheet *ngIf="readerHymn" [hymn]="readerHymn" [hymnal]="readerHymnal"></hymnal-sheet>

  <ion-fab bottom left *ngIf="readerHymn.number > 1">
    <button ion-fab mini color="white" (click)="previousHymn()"><ion-icon name="arrow-dropleft"></ion-icon></button>
  </ion-fab>

  <ion-fab bottom right *ngIf="readerHymn.number < readerHymnal.numberOfHymns">
    <button ion-fab mini color="white" (click)="nextHymn()"><ion-icon name="arrow-dropright"></ion-icon></button>
  </ion-fab>

</ion-content>
