<ion-header>

  <ion-toolbar text-center color="white" mode="ios">

    <ion-buttons start>
      <button ion-button icon-only (click)="presentHymnList()">
        <ion-icon name="list"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title><span ion-text class="tuy-icon-logo-font" color="dark"></span></ion-title>

    <ion-buttons end>
      <button ion-button (click)="presentReaderPopover()">aA</button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button (click)="presentHymnalList()">{{ readerHymnal.acronym }}</button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>


<ion-content>

  <hymnal-sheet *ngIf="readerHymn" [hymn]="readerHymn" [hymnal]="readerHymnal"></hymnal-sheet>

  <ion-fab *ngIf="readerHymn.number > 1" bottom left>
    <button ion-fab mini color="white" (click)="previousHymn()">
      <ion-icon name="md-arrow-back"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab bottom center>
    <button ion-fab mini color="white">
      <ion-icon name="heart"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab *ngIf="readerHymn.number < readerHymnal.numberOfHymns" bottom right>
    <button ion-fab mini color="white" (click)="nextHymn()">
      <ion-icon name="md-arrow-forward"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
