hymnal-sheet {
    text-align: center;
    .title {
        padding: 0 16px;
    }
    .strophe,
    .chorus {
        font-size: 17px;
        line-height: 1.3;
        &.selected {
            .content {
                border-bottom: dotted 0.07143rem #777;
            }
        }
        &.highlighted {
            .content {
                background: color($colors, yellow);
            }
        }
    }
    .chorus {
        font-style: italic;
    }
    .verse {
        display: block;
    }
    .content {
        padding: 0 2px;
    }
}
