hymnal-sheet {
    text-align: center;
    .title,
    .copyright {
        padding: 0 16px;
    }
    .strophe,
    .chorus {
        &.selected {
            .content {
                border-bottom: dotted 0.07143rem #777;
            }
        }
        &.highlighted {
            .content {
                background: color($colors, yellow);
            }
        }
    }
    .chorus {
        font-style: italic;
    }
    .verse {
        display: block;
    }
    .content {
        padding: 0 2px;
    }
    .copyright {
        max-width: 300px;
        margin: 0 auto 7rem;
    }
}
