<h6 *ngIf="!!hymn.title"
    text-uppercase
    class="hymnal-sheet__title">{{ hymn.number }}. {{ hymn.title }}</h6>

<div *ngFor="let strophe of hymn.strophes; let i = index;"
     class="hymnal-sheet__content">

  <p class="strophe">
    <span class="verse" *ngFor="let verse of strophe; let j = index;">
      <span class="label" *ngIf="j == 0">{{ i + 1 }}.</span>
      <span class="content">{{ verse }}</span>
    </span>
  </p>

  <p class="chorus" *ngFor="let chorus of hymn.chorus | slice:i:i+1">
    <strong class="label">Coro</strong>
    <span class="verse" *ngFor="let verse of chorus">
      <span class="content">{{ verse }}</span>
    </span>
  </p>

</div>

<p *ngIf="hymnal.copyright"
   class="hymnal-sheet__copyright">El himno ha sido tomado de la versión {{ hymnal.copyright }}. Utilizado con permiso.</p>
