hymnal-sheet {
    text-align: center;
    footer {
        margin-bottom: 7rem;
    }
    h6,
    .body {
        font-family: 'Bookerly', sans-serif;
        font-size: 1.6rem;
    }
    .strophe,
    .chorus {
        &.selected {
            .content {
                border-bottom: dotted 0.07143rem color($colors, gray);
            }
        }
        &.highlighted {
            .content {
                background: color($colors, warning);
            }
        }
    }
    .chorus {
        font-style: italic;
    }
    .verse {
        display: block;
    }
    .content {
        padding: 0 2px;
    }
    .copyright {
        color: color($colors, gray);
        font-size: 1.2rem;
    }
}
