page-welcome {
    h1, p {
        color: color($colors, light);
    }
    h1 {
        font-weight: bold;
        font-size: 4rem;
    }
    p {
        font-size: 2rem;
    }
    .content {
        background-image: -webkit-linear-gradient(0deg, #B57BDA 0%, #55DDFF 100%);
        background-image: -ms-linear-gradient(0deg, #B57BDA 0%, #55DDFF 100%);
        background-image: linear-gradient(0deg, #B57BDA 0%, #55DDFF 100%);
    }
    .tuy-icon-logo-icon {
        font-size: 3rem;
    }
    .button-default {
        color: color($colors, primary);
    }
}
