<ion-header no-border padding-top>
  <ion-toolbar color="white">
    <ion-title>
      <span ion-text class="tuy-icon-icon" color="primary"></span>
    </ion-title>

    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="dark" showWhen="ios">{{ 'button.cancel' | translate }}</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 padding>{{ 'signup-page.title' | translate }}</h4>

  <form [formGroup]="signupForm">
    <ion-item [ngClass]="{ 'has-error': username.errors?.uniqueUsername || username.errors?.pattern || username.errors?.maxlength }">
      <ion-input unique-username autofocus type="text" placeholder="{{ 'ion-input.placeholder.username' | translate }}"
        formControlName="username" maxlength="15"></ion-input>
      <ion-spinner *ngIf="username.pending" item-right name="ios-small"></ion-spinner>
      <ion-icon *ngIf="username.errors?.uniqueUsername || username.errors?.pattern" item-right name="alert"></ion-icon>
      <ion-icon *ngIf="username.valid" item-right name="checkmark-circle-outline" color="success"></ion-icon>
    </ion-item>
    <input-error *ngIf="username.errors?.uniqueUsername" [errorMessage]="'input-error.unique-username' | translate"></input-error>
    <input-error *ngIf="username.errors?.pattern || username.errors?.maxlength"
      [errorMessage]="'input-error.pattern-username' | translate"></input-error>

    <ion-item [ngClass]="{ 'has-error': email.errors?.uniqueEmail }">
      <ion-input unique-email type="email" placeholder="{{ 'ion-input.placeholder.email' | translate }}" formControlName="email"></ion-input>
      <ion-spinner *ngIf="email.pending" item-right name="ios-small"></ion-spinner>
      <ion-icon *ngIf="email.errors?.uniqueEmail" item-right name="alert"></ion-icon>
      <ion-icon *ngIf="email.valid" item-right name="checkmark-circle-outline" color="success"></ion-icon>
    </ion-item>
    <input-error *ngIf="email.errors?.uniqueEmail" [errorMessage]="'input-error.unique-email' | translate"></input-error>

    <ion-item margin-bottom>
      <ion-input type="password" placeholder="{{ 'ion-input.placeholder.password' | translate }}" formControlName="password"></ion-input>
      <ion-icon *ngIf="password.valid" item-right name="checkmark-circle-outline" color="success"></ion-icon>
    </ion-item>
  </form>

  <ion-row>

    <ion-col width-80 offset-10 text-center>{{ 'signup-page.legal.one' | translate }}
      <strong>{{ 'signup-page.legal.two' | translate }}</strong> {{ 'signup-page.legal.three' | translate }}
      <strong>{{ 'signup-page.legal.four' | translate }}</strong>
    </ion-col>

  </ion-row>

</ion-content>

<ion-footer text-right>
  <ion-toolbar color="white" padding-horizontal>
      <button ion-button color="primary" small [disabled]="!signupForm.valid" (click)="onSubmit()">{{ 'button.signup' | translate }}</button>
  </ion-toolbar>
</ion-footer>
