page-signup {
    h4 {
        font-weight: 400;
    }
    .tuy-icon-logo-icon {
        font-size: 2.5rem;
    }
    .has-error {
        color: color($colors, danger);
    }
    .item {
        .spinner {
            height: 27px;
            margin: 0 4px;
        }
        .icon {
            font-size: 2.4rem;
            margin: 4px 8px 0 0;
        }
    }
}
