page-signup {
    h4 {
        font-weight: 400;
    }
    .tuy-icon-icon {
        font-size: 2.5rem;
    }
    .legal {
        font-size: 1.6rem;
        margin: 0 auto;
        max-width: 300px;
    }
    .has-error {
        color: color($colors, danger);
    }
    .spinner {
        height: 27px;
    }
    .item [item-right] {
        font-size: 2.4rem;
        margin: 0 8px;
    }
}
